name: Generate GitHub Metrics

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */12 * * *"

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Generate GitHub Metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          committer_token: ${{ secrets.METRICS_TOKEN }}
          user: omkdev
          template: classic
          filename: metrics.svg

          base: header, activity, community, repositories, metadata

          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_languages_limit: 8

          plugin_achievements: yes
          plugin_achievements_display: detailed

          plugin_activity: yes
          plugin_activity_visibility: public

          plugin_calendar: yes
          plugin_calendar_limit: 1

          plugin_habits: yes
          plugin_habits_facts: yes
          plugin_habits_charts: yes
