name: Generate GitHub Metrics

on:
  schedule:
    - cron: "0 0 * * *"   # Runs once daily at midnight
  workflow_dispatch:       # Allows manual run
  push:
    branches:
      - main

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate GitHub Metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          committer_token: ${{ secrets.METRICS_TOKEN }}

          # OUTPUT
          filename: metrics.svg

          # BASIC SECTIONS
          base: activity, community, repositories, metadata

          # LANGUAGE SECTION
          plugin_languages: yes
          plugin_languages_ignored: html, css

          # YOUR GITHUB USERNAME
          user: omkdev
