name: Generate GitHub Metrics

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */12 * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Generate GitHub Metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          committer_token: ${{ secrets.METRICS_TOKEN }}

          base: header, activity, community, repositories, metadata

          plugin_languages: yes
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 12

          plugin_notable: yes
          plugin_notable_indepth: yes

          plugin_habits: yes
          plugin_habits_facts: yes
          plugin_habits_charts: yes

          plugin_calendar: yes
          plugin_calendar_limit: 1
          plugin_calendar_days: 90       # <<< Smaller calendar

          plugin_activity: yes
          plugin_activity_limit: 5

          plugin_achievements: yes
          plugin_achievements_display: compact

          filename: metrics.svg
